opera-flows.json
[
    {
        "id": "955d0aae4f0edf24",
        "type": "tab",
        "label": "Init",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "047cb2b68f071355",
        "type": "tab",
        "label": "Diff",
        "disabled": false,
        "info": "# Inside\n\nInside flow emit tuples (emitter, area-of-interest) where the emitter broadcast its position from inside the area of interest.",
        "env": []
    },
    {
        "id": "b5fd5662d233b60a",
        "type": "tab",
        "label": "Average",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e51c6bf108b92a29",
        "type": "tab",
        "label": "Map (dev)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ee7c991b03eac4ab",
        "type": "tab",
        "label": "H3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "180a8a3d97d7dc3f",
        "type": "tab",
        "label": "Map",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "af63c5f168f03802",
        "type": "tab",
        "label": "Load data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5aa781e7fd97726c",
        "type": "subflow",
        "name": "Set DB 0",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "39a637f8a38eb153"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 80,
                "wires": [
                    {
                        "id": "49b1d3a8943ea1fe",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#800000",
        "icon": "node-red/db.svg"
    },
    {
        "id": "d4a976387a559a5b",
        "type": "subflow",
        "name": "set DB 1",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "6036dee6c9e5cce9"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 60,
                "wires": [
                    {
                        "id": "ac20ac8a8a24cde2",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#800000",
        "icon": "node-red/db.svg"
    },
    {
        "id": "9240c7042e038827",
        "type": "redis-config",
        "name": "Local",
        "options": "{}",
        "cluster": false,
        "optionsType": "json"
    },
    {
        "id": "39307e6adaac1d07",
        "type": "ui_group",
        "name": "Aircrafts",
        "tab": "8e2e86d6a27e5877",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fdd4060e89397960",
        "type": "ui_group",
        "name": "Area Map",
        "tab": "bb7637f002e52660",
        "order": 1,
        "disp": false,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "96ed74b2249069bb",
        "type": "ui_group",
        "name": "Airport",
        "tab": "3c7e74736d0584ca",
        "order": 1,
        "disp": false,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e2e86d6a27e5877",
        "type": "ui_tab",
        "name": "Airport Status",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bb7637f002e52660",
        "type": "ui_tab",
        "name": "Area Map",
        "icon": "map",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3c7e74736d0584ca",
        "type": "ui_tab",
        "name": "Airport Map",
        "icon": "fa-tower-control",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8cfc377c09b08daf",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "49b1d3a8943ea1fe",
        "type": "redis-command",
        "z": "5aa781e7fd97726c",
        "server": "9240c7042e038827",
        "command": "SELECT",
        "name": "db 0",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 370,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "39a637f8a38eb153",
        "type": "change",
        "z": "5aa781e7fd97726c",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "49b1d3a8943ea1fe"
            ]
        ]
    },
    {
        "id": "ac20ac8a8a24cde2",
        "type": "redis-command",
        "z": "d4a976387a559a5b",
        "server": "9240c7042e038827",
        "command": "SELECT",
        "name": "db 1",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 370,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "6036dee6c9e5cce9",
        "type": "change",
        "z": "d4a976387a559a5b",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 60,
        "wires": [
            [
                "ac20ac8a8a24cde2"
            ]
        ]
    },
    {
        "id": "7db4dc5027e1290e",
        "type": "redis-instance",
        "z": "955d0aae4f0edf24",
        "server": "9240c7042e038827",
        "name": "",
        "topic": "redis",
        "location": "global",
        "x": 110,
        "y": 80,
        "wires": []
    },
    {
        "id": "9caa8dacb9010542",
        "type": "comment",
        "z": "955d0aae4f0edf24",
        "name": "Load data on startup",
        "info": "",
        "x": 280,
        "y": 80,
        "wires": []
    },
    {
        "id": "ed8af195dd3fd7c8",
        "type": "inject",
        "z": "955d0aae4f0edf24",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "36f9d6921196a022"
            ]
        ]
    },
    {
        "id": "15ae93ecc5e0fbc5",
        "type": "redis-command",
        "z": "955d0aae4f0edf24",
        "server": "9240c7042e038827",
        "command": "KEYS",
        "name": "",
        "topic": "airport:geometries:*",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 210,
        "y": 260,
        "wires": [
            [
                "77bd3a1feed7d8c5"
            ]
        ]
    },
    {
        "id": "bfa613b30541e95b",
        "type": "debug",
        "z": "955d0aae4f0edf24",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "77bd3a1feed7d8c5",
        "type": "split",
        "z": "955d0aae4f0edf24",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "eaaf215fb08b0b42"
            ]
        ]
    },
    {
        "id": "eaaf215fb08b0b42",
        "type": "change",
        "z": "955d0aae4f0edf24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "ad521ec8f11ae2b9"
            ]
        ]
    },
    {
        "id": "ad521ec8f11ae2b9",
        "type": "redis-command",
        "z": "955d0aae4f0edf24",
        "server": "9240c7042e038827",
        "command": "JSON.GET",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 800,
        "y": 260,
        "wires": [
            [
                "ab3d23c3a2d00932"
            ]
        ]
    },
    {
        "id": "ab3d23c3a2d00932",
        "type": "json",
        "z": "955d0aae4f0edf24",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 970,
        "y": 260,
        "wires": [
            [
                "856d0d350468a4e0"
            ]
        ]
    },
    {
        "id": "856d0d350468a4e0",
        "type": "function",
        "z": "955d0aae4f0edf24",
        "name": "save geom in global",
        "func": "let name = msg.topic.split(\":\")[2];\ncontext.global.set(name, msg.payload);\nmsg.payload = name\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 340,
        "wires": [
            [
                "b6c4a75ee91e04ee",
                "0c7a04c2d5b6ac2c"
            ]
        ]
    },
    {
        "id": "36f9d6921196a022",
        "type": "subflow:d4a976387a559a5b",
        "z": "955d0aae4f0edf24",
        "name": "",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "456a5306fc5ea507"
            ]
        ]
    },
    {
        "id": "b6c4a75ee91e04ee",
        "type": "subflow:5aa781e7fd97726c",
        "z": "955d0aae4f0edf24",
        "name": "",
        "x": 380,
        "y": 400,
        "wires": [
            [
                "bfa613b30541e95b"
            ]
        ]
    },
    {
        "id": "0c7a04c2d5b6ac2c",
        "type": "debug",
        "z": "955d0aae4f0edf24",
        "name": "global saved",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 340,
        "wires": []
    },
    {
        "id": "456a5306fc5ea507",
        "type": "change",
        "z": "955d0aae4f0edf24",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 140,
        "wires": [
            [
                "15ae93ecc5e0fbc5"
            ]
        ]
    },
    {
        "id": "fb03cd5f6d45819e",
        "type": "redis-in",
        "z": "047cb2b68f071355",
        "server": "9240c7042e038827",
        "command": "subscribe",
        "name": "",
        "topic": "emitpy:raw",
        "obj": true,
        "timeout": 0,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "9271bfcb27aa6090",
                "f1c92d61e05e4423"
            ]
        ]
    },
    {
        "id": "26bc02f69d3eac8a",
        "type": "function",
        "z": "047cb2b68f071355",
        "name": "diff",
        "func": "// Entering and exiting AoI\nlet arr_in = [];\nlet arr_out = [];\n\nif (msg.payload.properties.hasOwnProperty(\"_inside\") && msg.currpos.properties.hasOwnProperty(\"_inside\")) {\n    if (msg.currpos.properties._inside.length > 0) {\n        arr_in = msg.currpos.properties._inside.filter(x => msg.payload.properties._inside.indexOf(x) == -1);\n        arr_out = msg.payload.properties._inside.filter(x => msg.currpos.properties._inside.indexOf(x) == -1);\n    } else {\n        arr_out = msg.payload.properties._inside;\n    }\n}\n\n// Going through AoI0\nconst fc = context.global.get(msg.emit_type);\nconst geoms = fc.features;\nconst ls = turf.lineString([msg.payload.geometry.coordinates, msg.currpos.geometry.coordinates]);\nlet intersects = geoms.filter(f => turf.booleanIntersects(ls, f));\nif (msg.currpos.properties._inside.length > 0) {  // remove AoI it is currently inside\n    intersects = intersects.filter(x => msg.currpos.properties._inside.indexOf(x) != -1);\n}\n\nlet msg2 = {}\nmsg2.topic = \"emitpy:diff\"\nmsg2.payload = {\n    dt: msg.payload.properties[\"emit-absolute-time\"] - msg.currpos.properties[\"emit-absolute-time\"],\n    dd: turf.distance(msg.payload.geometry, msg.currpos.geometry, \"km\"),\n    so: msg.payload.properties.speed,\n    sc: msg.currpos.properties.speed,\n    stopped: msg.currpos.properties.speed < 0.2, // m/sec.\n    \"ts\": msg.payload.properties[\"emit-absolute-time\"],\n    before: msg.payload.properties._inside,\n    after: msg.currpos.properties._inside,\n    \"enter\": arr_in,\n    \"exit\": arr_out,\n    intersect: intersects.map(f => f.properties.name)\n}\nreturn [msg, msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "turf",
                "module": "@turf/turf"
            }
        ],
        "x": 530,
        "y": 700,
        "wires": [
            [
                "974f2e7eace14b14"
            ],
            [
                "8df1ad6d03c02b63",
                "476969c59eef0e8b"
            ]
        ]
    },
    {
        "id": "476969c59eef0e8b",
        "type": "debug",
        "z": "047cb2b68f071355",
        "name": "comparison",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 760,
        "wires": []
    },
    {
        "id": "43ac411e64727917",
        "type": "json",
        "z": "047cb2b68f071355",
        "name": "json (payload)",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 360,
        "y": 700,
        "wires": [
            [
                "26bc02f69d3eac8a",
                "ed9b9f6303dafbb2"
            ]
        ]
    },
    {
        "id": "ead28dcf07eaec35",
        "type": "change",
        "z": "047cb2b68f071355",
        "name": "currpos",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "currpos",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"vehicles:lastpos:\" & msg.icao24",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 100,
        "wires": [
            [
                "253a8a8fc891376b"
            ]
        ]
    },
    {
        "id": "253a8a8fc891376b",
        "type": "redis-command",
        "z": "047cb2b68f071355",
        "server": "9240c7042e038827",
        "command": "JSON.GET",
        "name": "get lastpos",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "ee68d07e62e6b588"
            ]
        ]
    },
    {
        "id": "8b64f6a73424d53c",
        "type": "redis-command",
        "z": "047cb2b68f071355",
        "server": "9240c7042e038827",
        "command": "JSON.SET",
        "name": "save currpos",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 810,
        "y": 620,
        "wires": [
            [
                "3a4513a0498550e6"
            ]
        ]
    },
    {
        "id": "2d9297a8cd2b4d68",
        "type": "change",
        "z": "047cb2b68f071355",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ \"$\", msg.currpos ]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 580,
        "wires": [
            [
                "8b64f6a73424d53c"
            ]
        ]
    },
    {
        "id": "974f2e7eace14b14",
        "type": "json",
        "z": "047cb2b68f071355",
        "name": "json (currpos)",
        "property": "currpos",
        "action": "",
        "pretty": false,
        "x": 740,
        "y": 540,
        "wires": [
            [
                "2d9297a8cd2b4d68"
            ]
        ]
    },
    {
        "id": "ee68d07e62e6b588",
        "type": "switch",
        "z": "047cb2b68f071355",
        "name": "lastpos avail?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "38df50cb0d75053d",
                "974f2e7eace14b14",
                "fc95c8b2ea0e731a"
            ],
            [
                "43ac411e64727917"
            ]
        ]
    },
    {
        "id": "38df50cb0d75053d",
        "type": "debug",
        "z": "047cb2b68f071355",
        "name": "new vehicle",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "3a4513a0498550e6",
        "type": "debug",
        "z": "047cb2b68f071355",
        "name": "save status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 660,
        "wires": []
    },
    {
        "id": "8df1ad6d03c02b63",
        "type": "redis-out",
        "z": "047cb2b68f071355",
        "server": "9240c7042e038827",
        "command": "publish",
        "name": "",
        "topic": "",
        "obj": true,
        "x": 740,
        "y": 720,
        "wires": []
    },
    {
        "id": "01fb44f0c4d8c591",
        "type": "function",
        "z": "047cb2b68f071355",
        "name": "inside",
        "func": "// Point inside area of interest polygon\nconst geoms = context.global.get(msg.emit_type);\nconst inside = geoms.features.filter(f => turf.booleanPointInPolygon(msg.payload.geometry.coordinates, f));\nmsg.payload.properties._inside = inside.map(f => f.id);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n//const geoms = context.flow.get('geometries');\n",
        "finalize": "",
        "libs": [
            {
                "var": "turf",
                "module": "@turf/turf"
            }
        ],
        "x": 850,
        "y": 100,
        "wires": [
            [
                "ead28dcf07eaec35",
                "751a6828e2e050c6"
            ]
        ]
    },
    {
        "id": "9271bfcb27aa6090",
        "type": "debug",
        "z": "047cb2b68f071355",
        "name": "emitpy:raw",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 120,
        "wires": []
    },
    {
        "id": "0ebf44aceb105c27",
        "type": "redis-command",
        "z": "047cb2b68f071355",
        "server": "9240c7042e038827",
        "command": "JSON.SET",
        "name": "save new vehicle",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 830,
        "y": 400,
        "wires": [
            [
                "a23c49713e5f8582"
            ]
        ]
    },
    {
        "id": "fc95c8b2ea0e731a",
        "type": "change",
        "z": "047cb2b68f071355",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"vehicles:encounter:\" & msg.icao24",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 280,
        "wires": [
            [
                "b992be35dfd02872",
                "e3fa6b11aa6516f2"
            ]
        ]
    },
    {
        "id": "e3fa6b11aa6516f2",
        "type": "json",
        "z": "047cb2b68f071355",
        "name": "json (currpos)",
        "property": "currpos",
        "action": "",
        "pretty": false,
        "x": 780,
        "y": 320,
        "wires": [
            [
                "20bc0234baef838c"
            ]
        ]
    },
    {
        "id": "a23c49713e5f8582",
        "type": "debug",
        "z": "047cb2b68f071355",
        "name": "save status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "4615b814bd302471",
        "type": "change",
        "z": "047cb2b68f071355",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "emit_type",
                "pt": "msg",
                "to": "payload.properties.emit[\"emit-type\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "icao24",
                "pt": "msg",
                "to": "payload.properties.icao24",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 80,
        "wires": [
            [
                "49e2c12da5337aca"
            ]
        ]
    },
    {
        "id": "49e2c12da5337aca",
        "type": "function",
        "z": "047cb2b68f071355",
        "name": "at aerodrome?",
        "func": "// Point inside area of interest polygon\nconst aerodrome = context.global.get(\"aerodrome\");\nconst fence = aerodrome.features[0]\nif (turf.booleanPointInPolygon(msg.payload.geometry.coordinates, fence)) {\n    return [null, msg];\n}\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n//const geoms = context.flow.get('geometries');\n",
        "finalize": "",
        "libs": [
            {
                "var": "turf",
                "module": "@turf/turf"
            }
        ],
        "x": 680,
        "y": 80,
        "wires": [
            [
                "ead6fbcebd0293f8"
            ],
            [
                "01fb44f0c4d8c591"
            ]
        ]
    },
    {
        "id": "751a6828e2e050c6",
        "type": "debug",
        "z": "047cb2b68f071355",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 180,
        "wires": []
    },
    {
        "id": "ed9b9f6303dafbb2",
        "type": "debug",
        "z": "047cb2b68f071355",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 780,
        "wires": []
    },
    {
        "id": "f1c92d61e05e4423",
        "type": "switch",
        "z": "047cb2b68f071355",
        "name": "emit?",
        "property": "payload.properties",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "emit",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "4615b814bd302471"
            ],
            [
                "21715cdf5c5117b4"
            ]
        ]
    },
    {
        "id": "21715cdf5c5117b4",
        "type": "debug",
        "z": "047cb2b68f071355",
        "name": "no emit",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "ead6fbcebd0293f8",
        "type": "function",
        "z": "047cb2b68f071355",
        "name": "around?",
        "func": "// Point inside area of interest polygon\nconst geoms = context.global.get(\"airport\");\nconst inside = geoms.features.filter(f => turf.booleanPointInPolygon(msg.payload.geometry.coordinates, f));\nmsg.payload.properties._inside = inside.map(f => f.id);\nif (msg.payload.properties._inside.length > 0) {\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n//const geoms = context.flow.get('geometries');\n",
        "finalize": "",
        "libs": [
            {
                "var": "turf",
                "module": "@turf/turf"
            }
        ],
        "x": 860,
        "y": 60,
        "wires": [
            [
                "a5cc5476abccc859"
            ]
        ]
    },
    {
        "id": "a5cc5476abccc859",
        "type": "debug",
        "z": "047cb2b68f071355",
        "name": "around",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 60,
        "wires": []
    },
    {
        "id": "b992be35dfd02872",
        "type": "debug",
        "z": "047cb2b68f071355",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 320,
        "wires": []
    },
    {
        "id": "3b2958fcdb7b68de",
        "type": "comment",
        "z": "047cb2b68f071355",
        "name": "save new vehicle meta",
        "info": "",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "ac1bf31965dd4698",
        "type": "comment",
        "z": "047cb2b68f071355",
        "name": "save last position",
        "info": "",
        "x": 980,
        "y": 540,
        "wires": []
    },
    {
        "id": "20bc0234baef838c",
        "type": "change",
        "z": "047cb2b68f071355",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ \"$\", msg.currpos ]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 360,
        "wires": [
            [
                "0ebf44aceb105c27"
            ]
        ]
    },
    {
        "id": "acea4a003783391c",
        "type": "debug",
        "z": "b5fd5662d233b60a",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 120,
        "wires": []
    },
    {
        "id": "fd426831c9d3e614",
        "type": "redis-in",
        "z": "b5fd5662d233b60a",
        "server": "9240c7042e038827",
        "command": "subscribe",
        "name": "",
        "topic": "emitpy:diff",
        "obj": true,
        "timeout": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "acea4a003783391c"
            ]
        ]
    },
    {
        "id": "10201afe73aec65c",
        "type": "inject",
        "z": "e51c6bf108b92a29",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "2f5196af07d9517b"
            ]
        ]
    },
    {
        "id": "0ef9cf1179d2a499",
        "type": "json",
        "z": "e51c6bf108b92a29",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1010,
        "y": 140,
        "wires": [
            [
                "b8b9e6e75ce5f04f",
                "97f343c3e2bd8d6f"
            ]
        ]
    },
    {
        "id": "3ce128e96bce2813",
        "type": "redis-command",
        "z": "e51c6bf108b92a29",
        "server": "9240c7042e038827",
        "command": "JSON.GET",
        "name": "",
        "topic": "airport:geometries:aerodrome",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 760,
        "y": 140,
        "wires": [
            [
                "0ef9cf1179d2a499"
            ]
        ]
    },
    {
        "id": "97f343c3e2bd8d6f",
        "type": "worldmap",
        "z": "e51c6bf108b92a29",
        "name": "",
        "lat": "25.27",
        "lon": "51.6",
        "zoom": "14",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1300,
        "y": 280,
        "wires": []
    },
    {
        "id": "4d73113d1182a182",
        "type": "redis-in",
        "z": "e51c6bf108b92a29",
        "server": "9240c7042e038827",
        "command": "subscribe",
        "name": "emitpy:raw",
        "topic": "emitpy:raw",
        "obj": true,
        "timeout": 0,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "7c20b169e2e1ad9f"
            ]
        ]
    },
    {
        "id": "1ce897882686d0e1",
        "type": "debug",
        "z": "e51c6bf108b92a29",
        "name": "zadd result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 640,
        "wires": []
    },
    {
        "id": "7c20b169e2e1ad9f",
        "type": "change",
        "z": "e51c6bf108b92a29",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\": msg.payload.properties.icao24,\t    \"geojson\": msg.payload\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 500,
        "wires": [
            [
                "2715a67425b5ed6a"
            ]
        ]
    },
    {
        "id": "803b05bb43a16e76",
        "type": "inject",
        "z": "e51c6bf108b92a29",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "c27c15cdb074c404"
            ]
        ]
    },
    {
        "id": "c40632476643ae7b",
        "type": "json",
        "z": "e51c6bf108b92a29",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "97f343c3e2bd8d6f"
            ]
        ]
    },
    {
        "id": "38004e0c391774a4",
        "type": "redis-command",
        "z": "e51c6bf108b92a29",
        "server": "9240c7042e038827",
        "command": "JSON.GET",
        "name": "",
        "topic": "airport:geometries:flight",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 740,
        "y": 200,
        "wires": [
            [
                "c40632476643ae7b"
            ]
        ]
    },
    {
        "id": "a969271f71fef5cf",
        "type": "inject",
        "z": "e51c6bf108b92a29",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "aaf5580b5970fe4d"
            ]
        ]
    },
    {
        "id": "328b1931cd791272",
        "type": "json",
        "z": "e51c6bf108b92a29",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1010,
        "y": 260,
        "wires": [
            [
                "97f343c3e2bd8d6f",
                "b8b9e6e75ce5f04f"
            ]
        ]
    },
    {
        "id": "5bb83ebd8a761a83",
        "type": "redis-command",
        "z": "e51c6bf108b92a29",
        "server": "9240c7042e038827",
        "command": "JSON.GET",
        "name": "",
        "topic": "airport:geometries:service",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "328b1931cd791272"
            ]
        ]
    },
    {
        "id": "77a91445959a337c",
        "type": "inject",
        "z": "e51c6bf108b92a29",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "9f95735cacf67f56"
            ]
        ]
    },
    {
        "id": "464aacf0d003f8da",
        "type": "json",
        "z": "e51c6bf108b92a29",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "97f343c3e2bd8d6f",
                "b8b9e6e75ce5f04f"
            ]
        ]
    },
    {
        "id": "310e20d64b11bb2f",
        "type": "redis-command",
        "z": "e51c6bf108b92a29",
        "server": "9240c7042e038827",
        "command": "JSON.GET",
        "name": "",
        "topic": "airport:geometries:mission",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 750,
        "y": 320,
        "wires": [
            [
                "464aacf0d003f8da"
            ]
        ]
    },
    {
        "id": "19297c0646353a3a",
        "type": "change",
        "z": "e51c6bf108b92a29",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ts",
                "pt": "msg",
                "to": "payload.properties[\"emit-absolute-time\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"type\": \"Feature\",\t    \"properties\": {\t        \"ts\": msg.payload.properties.\"emit-absolute-time\",\t        \"icao24\": msg.payload.properties.icao24\t    },\t    \"geometry\": msg.payload.geometry\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 640,
        "wires": [
            [
                "d056a8cc51d53237"
            ]
        ]
    },
    {
        "id": "7cebca3f11c4bded",
        "type": "redis-command",
        "z": "e51c6bf108b92a29",
        "server": "9240c7042e038827",
        "command": "ZADD",
        "name": "",
        "topic": "queues:data:heatmap",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 940,
        "y": 640,
        "wires": [
            [
                "1ce897882686d0e1"
            ]
        ]
    },
    {
        "id": "44936f151338df0f",
        "type": "change",
        "z": "e51c6bf108b92a29",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[msg.ts + 20 * 60, msg.payload]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 640,
        "wires": [
            [
                "7cebca3f11c4bded"
            ]
        ]
    },
    {
        "id": "d056a8cc51d53237",
        "type": "json",
        "z": "e51c6bf108b92a29",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 640,
        "wires": [
            [
                "44936f151338df0f"
            ]
        ]
    },
    {
        "id": "11b0cfde95d3dc26",
        "type": "comment",
        "z": "e51c6bf108b92a29",
        "name": "Inject (raw) features into map for debugging",
        "info": "",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "7c36196cde164071",
        "type": "comment",
        "z": "e51c6bf108b92a29",
        "name": "Inject vehicle into map, schedulel its removal from heatmap",
        "info": "",
        "x": 300,
        "y": 420,
        "wires": []
    },
    {
        "id": "d79f468d0c51de79",
        "type": "redis-in",
        "z": "e51c6bf108b92a29",
        "server": "9240c7042e038827",
        "command": "subscribe",
        "name": "",
        "topic": "emitpy:delete",
        "obj": true,
        "timeout": 0,
        "x": 150,
        "y": 700,
        "wires": [
            [
                "ab41ae9961b284df"
            ]
        ]
    },
    {
        "id": "ab41ae9961b284df",
        "type": "change",
        "z": "e51c6bf108b92a29",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"delete\": true,\t    \"name\": msg.payload.properties.icao24,\t    \"geojson\": msg.payload\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "b8b9e6e75ce5f04f",
        "type": "subflow:5aa781e7fd97726c",
        "z": "e51c6bf108b92a29",
        "name": "",
        "x": 1360,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2f5196af07d9517b",
        "type": "subflow:d4a976387a559a5b",
        "z": "e51c6bf108b92a29",
        "name": "",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "a9ed5848356fb8c3"
            ]
        ]
    },
    {
        "id": "a9ed5848356fb8c3",
        "type": "change",
        "z": "e51c6bf108b92a29",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 140,
        "wires": [
            [
                "3ce128e96bce2813"
            ]
        ]
    },
    {
        "id": "1c2db5938b4c316a",
        "type": "change",
        "z": "e51c6bf108b92a29",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "38004e0c391774a4"
            ]
        ]
    },
    {
        "id": "c5401c1655b548e4",
        "type": "change",
        "z": "e51c6bf108b92a29",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "5bb83ebd8a761a83"
            ]
        ]
    },
    {
        "id": "c03cc3cc284bace6",
        "type": "change",
        "z": "e51c6bf108b92a29",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 320,
        "wires": [
            [
                "310e20d64b11bb2f"
            ]
        ]
    },
    {
        "id": "aaf5580b5970fe4d",
        "type": "subflow:d4a976387a559a5b",
        "z": "e51c6bf108b92a29",
        "name": "",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "c5401c1655b548e4"
            ]
        ]
    },
    {
        "id": "9f95735cacf67f56",
        "type": "subflow:d4a976387a559a5b",
        "z": "e51c6bf108b92a29",
        "name": "",
        "x": 300,
        "y": 320,
        "wires": [
            [
                "c03cc3cc284bace6"
            ]
        ]
    },
    {
        "id": "c27c15cdb074c404",
        "type": "subflow:d4a976387a559a5b",
        "z": "e51c6bf108b92a29",
        "name": "",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "1c2db5938b4c316a"
            ]
        ]
    },
    {
        "id": "2715a67425b5ed6a",
        "type": "worldmap",
        "z": "e51c6bf108b92a29",
        "name": "",
        "lat": "25.27",
        "lon": "51.6",
        "zoom": "14",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1220,
        "y": 500,
        "wires": []
    },
    {
        "id": "cdaeb816669b22b6",
        "type": "redis-in",
        "z": "ee7c991b03eac4ab",
        "server": "9240c7042e038827",
        "command": "subscribe",
        "name": "",
        "topic": "emitpy:raw",
        "obj": true,
        "timeout": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "ac9f5a3d80253dcc"
            ]
        ]
    },
    {
        "id": "ac9f5a3d80253dcc",
        "type": "function",
        "z": "ee7c991b03eac4ab",
        "name": "H3",
        "func": "const lat = msg.payload.geometry.coordinates[1];\nconst lon = msg.payload.geometry.coordinates[0];\nmsg.payload = {\n    icao24: msg.payload.properties.icao24,\n    ts: msg.payload.properties[\"emit-absolute-time\"],\n    h3: h3.latLngToCell(lat, lon, 14)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "h3",
                "module": "h3-js"
            }
        ],
        "x": 330,
        "y": 120,
        "wires": [
            [
                "49ad98420c60aef0",
                "f6a48fe6cf2185f6"
            ]
        ]
    },
    {
        "id": "49ad98420c60aef0",
        "type": "debug",
        "z": "ee7c991b03eac4ab",
        "name": "h3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 60,
        "wires": []
    },
    {
        "id": "f5e9538f0b54440e",
        "type": "redis-out",
        "z": "ee7c991b03eac4ab",
        "server": "9240c7042e038827",
        "command": "publish",
        "name": "",
        "topic": "",
        "obj": true,
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "f6a48fe6cf2185f6",
        "type": "change",
        "z": "ee7c991b03eac4ab",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "emitpy:h3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 120,
        "wires": [
            [
                "f5e9538f0b54440e",
                "c51d98d46bf11a3a"
            ]
        ]
    },
    {
        "id": "6675e97af53dafb8",
        "type": "change",
        "z": "ee7c991b03eac4ab",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"airport:heatmap:\" & msg.payload.h3",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 280,
        "wires": [
            [
                "0b201bc3bbaefdb2",
                "c51d98d46bf11a3a"
            ]
        ]
    },
    {
        "id": "0b201bc3bbaefdb2",
        "type": "redis-command",
        "z": "ee7c991b03eac4ab",
        "server": "9240c7042e038827",
        "command": "INCR",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 750,
        "y": 280,
        "wires": [
            [
                "07d5b48f604c3557"
            ]
        ]
    },
    {
        "id": "07d5b48f604c3557",
        "type": "debug",
        "z": "ee7c991b03eac4ab",
        "name": "save status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "c51d98d46bf11a3a",
        "type": "debug",
        "z": "ee7c991b03eac4ab",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 40,
        "wires": []
    },
    {
        "id": "583c5ac0b3555a74",
        "type": "function",
        "z": "ee7c991b03eac4ab",
        "name": "at airport",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 280,
        "wires": [
            [
                "6675e97af53dafb8"
            ]
        ]
    },
    {
        "id": "e58f89b222dbd7ca",
        "type": "redis-in",
        "z": "180a8a3d97d7dc3f",
        "server": "9240c7042e038827",
        "command": "subscribe",
        "name": "Raw",
        "topic": "emitpy:raw",
        "obj": true,
        "timeout": 0,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "d96b9a585e8a8e58"
            ]
        ]
    },
    {
        "id": "0603b312c0dbc578",
        "type": "function",
        "z": "180a8a3d97d7dc3f",
        "name": "Flight",
        "func": "\nmsg.payload = {\n    layer: \"aircrafts\",\n    lat: msg.payload.geometry.coordinates[1],\n    lon: msg.payload.geometry.coordinates[0],\n    heading: msg.payload.properties.heading,\n    speed: msg.payload.properties.speed/10.0,\n    tooltip: msg.payload.properties.ident,\n    label: msg.payload.properties.flight.callsign,\n    icon: \"plane\",\n    iconColor: msg.payload.properties.flight.is_arrival ? \"#00DD00\" : \"#FF85FF\",\n    ttl: 60*60*2,\n    name: msg.payload.properties.icao24\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 280,
        "wires": [
            [
                "52cf1aa80496fcd6",
                "95070f789505afec",
                "61389890749add36",
                "3e441f196f8c1a0e"
            ]
        ]
    },
    {
        "id": "d96b9a585e8a8e58",
        "type": "switch",
        "z": "180a8a3d97d7dc3f",
        "name": "is aircraft",
        "property": "payload.properties",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "service",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "mission",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "flight",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "98035f40bf1c3ec8",
                "05e47a44c83d9367"
            ],
            [
                "a70f6c96d0cfcebc",
                "7984f525616d5318"
            ],
            [
                "4e4c918648571f07",
                "7984f525616d5318"
            ],
            [
                "0603b312c0dbc578",
                "7984f525616d5318",
                "9ea682a830cf1b4b"
            ]
        ]
    },
    {
        "id": "4e4c918648571f07",
        "type": "function",
        "z": "180a8a3d97d7dc3f",
        "name": "Mission",
        "func": "\nmsg.payload = {\n    layer: \"missions\",\n    lat: msg.payload.geometry.coordinates[1],\n    lon: msg.payload.geometry.coordinates[0],\n    heading: msg.payload.properties.heading,\n    tooltip: msg.payload.properties.mission.vehicle.callsign,\n    label: msg.payload.properties.service.vehicle.callsign,\n    icon: \"fa-car\",\n    iconColor: \"#FF0000\",\n    name: msg.payload.properties.icao24\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 220,
        "wires": [
            [
                "95070f789505afec",
                "61389890749add36"
            ]
        ]
    },
    {
        "id": "98035f40bf1c3ec8",
        "type": "debug",
        "z": "180a8a3d97d7dc3f",
        "name": "The Wire",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 80,
        "wires": [],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "dee46b090cd504ce",
        "type": "debug",
        "z": "180a8a3d97d7dc3f",
        "name": "raw input",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 480,
        "wires": []
    },
    {
        "id": "7984f525616d5318",
        "type": "debug",
        "z": "180a8a3d97d7dc3f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 480,
        "wires": []
    },
    {
        "id": "a70f6c96d0cfcebc",
        "type": "function",
        "z": "180a8a3d97d7dc3f",
        "name": "Service",
        "func": "msg.payload = {\n    layer: \"gse\",\n    lat: msg.payload.geometry.coordinates[1],\n    lon: msg.payload.geometry.coordinates[0],\n    heading: msg.payload.properties.heading,\n    tooltip: msg.payload.properties.service.vehicle.callsign,\n    icon: \"fa-truck\",\n    iconColor: \"#0000AA\",\n    name: msg.payload.properties.icao24\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "95070f789505afec",
                "61389890749add36"
            ]
        ]
    },
    {
        "id": "f1288b1d490a9717",
        "type": "redis-in",
        "z": "180a8a3d97d7dc3f",
        "server": "9240c7042e038827",
        "command": "subscribe",
        "name": "Test",
        "topic": "emitpy:test",
        "obj": true,
        "timeout": 0,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "d96b9a585e8a8e58",
                "dee46b090cd504ce"
            ]
        ]
    },
    {
        "id": "77b85ddde90439df",
        "type": "ui_chart",
        "z": "180a8a3d97d7dc3f",
        "name": "Altitude",
        "group": "39307e6adaac1d07",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Altitude",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "05e47a44c83d9367",
        "type": "ui_toast",
        "z": "180a8a3d97d7dc3f",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 990,
        "y": 140,
        "wires": []
    },
    {
        "id": "52cf1aa80496fcd6",
        "type": "ui_worldmap",
        "z": "180a8a3d97d7dc3f",
        "group": "fdd4060e89397960",
        "order": 0,
        "width": "27",
        "height": "18",
        "name": "area map",
        "lat": "25.2745",
        "lon": "51.6077",
        "zoom": "3",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,AC,HM",
        "maplist": "OSMG,OSMC,EsriDG",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 960,
        "y": 260,
        "wires": []
    },
    {
        "id": "95070f789505afec",
        "type": "ui_worldmap",
        "z": "180a8a3d97d7dc3f",
        "group": "96ed74b2249069bb",
        "order": 0,
        "width": "27",
        "height": "18",
        "name": "airport map",
        "lat": "25.2745",
        "lon": "51.6077",
        "zoom": "16",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 970,
        "y": 200,
        "wires": []
    },
    {
        "id": "61389890749add36",
        "type": "debug",
        "z": "180a8a3d97d7dc3f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "3e441f196f8c1a0e",
        "type": "worldmap",
        "z": "180a8a3d97d7dc3f",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1100,
        "y": 320,
        "wires": []
    },
    {
        "id": "216297d666d0a2ad",
        "type": "debug",
        "z": "180a8a3d97d7dc3f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 420,
        "wires": []
    },
    {
        "id": "9ea682a830cf1b4b",
        "type": "function",
        "z": "180a8a3d97d7dc3f",
        "name": "Flight Alt Chart",
        "func": "msg.topic = msg.payload.properties.icao24\nmsg.payload = msg.payload.properties.altitude\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 340,
        "wires": [
            [
                "216297d666d0a2ad",
                "77b85ddde90439df"
            ]
        ]
    },
    {
        "id": "a44128e4f36f374c",
        "type": "function",
        "z": "af63c5f168f03802",
        "name": "my redis JSON.SET",
        "func": "let redis = context.global.get('redis');\nawait redis.call(\"JSON.SET\", msg.topic, \"$\", JSON.stringify(msg.currpos));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "0cf6de293aed4548",
        "type": "file in",
        "z": "af63c5f168f03802",
        "name": "load file",
        "filename": "data/flight.geojson",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "bf18f92ef29de5fe"
            ]
        ]
    },
    {
        "id": "430722e0ea995d0a",
        "type": "comment",
        "z": "af63c5f168f03802",
        "name": "load (json) file to Redis",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "fbcf2b5de73deed2",
        "type": "inject",
        "z": "af63c5f168f03802",
        "name": "flight",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "3a8490782b1eb635"
            ]
        ]
    },
    {
        "id": "10048dae8db775ba",
        "type": "redis-command",
        "z": "af63c5f168f03802",
        "server": "9240c7042e038827",
        "command": "JSON.SET",
        "name": "set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 810,
        "y": 180,
        "wires": [
            [
                "cdafad873607bfa7"
            ]
        ]
    },
    {
        "id": "bf18f92ef29de5fe",
        "type": "change",
        "z": "af63c5f168f03802",
        "name": "set topic, payload",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "airport:geometries:flight",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ \"$\", msg. payload ]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 180,
        "wires": [
            [
                "10048dae8db775ba"
            ]
        ]
    },
    {
        "id": "bf3f3541d652d31c",
        "type": "file in",
        "z": "af63c5f168f03802",
        "name": "load file",
        "filename": "data/service.geojson",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "e6da7a8c4af11d3a"
            ]
        ]
    },
    {
        "id": "44199119ac54354b",
        "type": "inject",
        "z": "af63c5f168f03802",
        "name": "gse",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "13aacab1afd6e198"
            ]
        ]
    },
    {
        "id": "0c0dc0fcc6e151d5",
        "type": "redis-command",
        "z": "af63c5f168f03802",
        "server": "9240c7042e038827",
        "command": "JSON.SET",
        "name": "set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "cdafad873607bfa7"
            ]
        ]
    },
    {
        "id": "e6da7a8c4af11d3a",
        "type": "change",
        "z": "af63c5f168f03802",
        "name": "set topic, payload",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "airport:geometries:service",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ \"$\", msg. payload ]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 240,
        "wires": [
            [
                "0c0dc0fcc6e151d5"
            ]
        ]
    },
    {
        "id": "fc7ed709bc322e63",
        "type": "file in",
        "z": "af63c5f168f03802",
        "name": "load file",
        "filename": "data/mission.geojson",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "764ee53fb118752d"
            ]
        ]
    },
    {
        "id": "c9a5c2b12a859860",
        "type": "inject",
        "z": "af63c5f168f03802",
        "name": "checkpoints",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "e298b19827804f53"
            ]
        ]
    },
    {
        "id": "d2bed6d888f25860",
        "type": "redis-command",
        "z": "af63c5f168f03802",
        "server": "9240c7042e038827",
        "command": "JSON.SET",
        "name": "set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 810,
        "y": 300,
        "wires": [
            [
                "cdafad873607bfa7"
            ]
        ]
    },
    {
        "id": "764ee53fb118752d",
        "type": "change",
        "z": "af63c5f168f03802",
        "name": "set topic, payload",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "airport:geometries:mission",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ \"$\", msg. payload ]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 300,
        "wires": [
            [
                "d2bed6d888f25860"
            ]
        ]
    },
    {
        "id": "4ee75939984eaf12",
        "type": "file in",
        "z": "af63c5f168f03802",
        "name": "load file",
        "filename": "data/aerodrome.geojson",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 120,
        "wires": [
            [
                "f3489aaab7180f10"
            ]
        ]
    },
    {
        "id": "5976aa7611b914b8",
        "type": "inject",
        "z": "af63c5f168f03802",
        "name": "aerodrome",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "97469380928d4ac2"
            ]
        ]
    },
    {
        "id": "8c09f7b631431fd0",
        "type": "redis-command",
        "z": "af63c5f168f03802",
        "server": "9240c7042e038827",
        "command": "JSON.SET",
        "name": "set",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 810,
        "y": 120,
        "wires": [
            [
                "cdafad873607bfa7"
            ]
        ]
    },
    {
        "id": "f3489aaab7180f10",
        "type": "change",
        "z": "af63c5f168f03802",
        "name": "set topic, payload",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "airport:geometries:aerodrome",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[ \"$\", msg. payload ]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 120,
        "wires": [
            [
                "8c09f7b631431fd0"
            ]
        ]
    },
    {
        "id": "af98fc5a61e185f6",
        "type": "debug",
        "z": "af63c5f168f03802",
        "name": "set status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 200,
        "wires": []
    },
    {
        "id": "97469380928d4ac2",
        "type": "subflow:d4a976387a559a5b",
        "z": "af63c5f168f03802",
        "name": "",
        "x": 300,
        "y": 120,
        "wires": [
            [
                "4ee75939984eaf12"
            ]
        ]
    },
    {
        "id": "3a8490782b1eb635",
        "type": "subflow:d4a976387a559a5b",
        "z": "af63c5f168f03802",
        "name": "",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "0cf6de293aed4548"
            ]
        ]
    },
    {
        "id": "13aacab1afd6e198",
        "type": "subflow:d4a976387a559a5b",
        "z": "af63c5f168f03802",
        "name": "",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "bf3f3541d652d31c"
            ]
        ]
    },
    {
        "id": "e298b19827804f53",
        "type": "subflow:d4a976387a559a5b",
        "z": "af63c5f168f03802",
        "name": "",
        "x": 300,
        "y": 300,
        "wires": [
            [
                "fc7ed709bc322e63"
            ]
        ]
    },
    {
        "id": "cdafad873607bfa7",
        "type": "subflow:5aa781e7fd97726c",
        "z": "af63c5f168f03802",
        "name": "",
        "x": 1000,
        "y": 200,
        "wires": [
            [
                "af98fc5a61e185f6"
            ]
        ]
    },
    {
        "id": "bc8231b7f5656897",
        "type": "function",
        "z": "af63c5f168f03802",
        "name": "style",
        "func": "msg.payload.features.forEach((f) => {\n    let style = {}\n    const parts = [\"stroke\", \"stroke-width\", \"stoke-opacity\", \"fill-color\", \"fill-opacity\"]\n    parts.forEach((prop) => {\n        if (f.properties.hasOwnProperty(prop)) {\n            style[prop] = f.properties[prop];\n        }\n    });\n    f.style = style\n})\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 90,
        "y": 520,
        "wires": [
            []
        ]
    }
]